.container-banners {
    width: 100%;
    min-width: 1366px;
    height: 350px;
}

.banner {
    background-image:
        linear-gradient(#000000de, #00000091, #000000bd, #00000091, #000000de),
        url("../assets/image/banner-home.webp");
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FF9E02;
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    letter-spacing: 4px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.banner-content {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.title {
    color: #FF9E02;
    font-size: 3.5rem;
    text-shadow: 2px 2px 10px black;
    letter-spacing: 10px;
    text-transform: uppercase;
}

.subtitle {
    margin-top: 10px;
    font-size: 1.3rem;
    color: #ffae2d;
    text-shadow: 1px 1px 5px black;
    letter-spacing: 6px;
}