.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;

    border-radius: 50%;
    height: 160px;
    width: 260px;
}

.logo .img {
    height: 260px;
    width: 260px;
    background-image: url("../assets/image/logo.webp") !important;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
    transition: 0.2s ease all;
}

.img:hover {
    transform: scale(1.08);
    background-color: transparent;
}

.nav-container {
    background: linear-gradient(135deg, #252525 0%, #383838 100%);
}

.section-logo {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #252525;
    background: radial-gradient(circle, #252525 0%, #1f1f1f 20%, #181818 100%);
    padding: 80px 0 10px 0;
    overflow: hidden;

    background-image:
        linear-gradient(#000000de, #00000091, #000000bd, #00000091, #000000de),
        url("../assets/image/banner-home.webp");
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;

    align-items: center;
}

.nav-item {
    color: #FF9E02;
    font-weight: 400;
    letter-spacing: 3px;
}


.logout {
    color: #ff3d02;
}

.nav-item-activate {
    color: white;
}


.nav-item:hover,
.logout:hover {
    color: white !important;
}

.nav-item i {
    margin-right: 5px;
}