body {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.products-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
    margin: 40px 0px;

    line-height: 1.5;
    width: 100%;
}

.product-card {
    min-height: 500px;
    height: 500px;
    width: 246.84px;
    overflow: hidden;
    border-radius: 0.5px;

    display: flex;
    flex-direction: column;

}

.details {}

.product-image {
    height: 360.625px;
    width: 246.84px;
    max-height: 1200px;
    transition: 0.3s ease all;
    cursor: pointer;
}

.product-image:hover {
    transform: scale(1.05);
}

p {
    margin: 5px 0px;
    padding: 0px;
}


.product-card .details h1 {}

.discount {
    color: #d82b2b;
    font-size: 14px !important;
    font-weight: normal;
}

.select-cant {
    display: flex;
    justify-content: space-between;
    margin: 10px 0px;
}

.select-cant button {
    background-color: #FF9E02;
    min-width: 45px;
}

button {
    border: none;
}

.btn-navigate {
    background-color: #FF9E02;
    min-width: 140px;

    margin: 0;
    padding: 3px 0px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.btn-addCart {
    background-color: #FF9E02;
    width: 100%;
    font-size: 12px;
    height: 25px;
}

button:hover {
    background-color: #ffba4b;
}

.product-price {
    font-size: 18px;
    font-weight: 600;
}