.section {
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 20;
    display: flex;
    justify-content: end;
    background-color: transparent;
}

.container {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 30px;
    margin: 5px 5px;
}

.fa-brands {
    transition: 0.3s ease all;
    cursor: pointer;
    font-size: 18px;
    color: #FF9E02;
}

.fa-brands:hover {
    transform: translateY(3px);
    color: #ededed;

}