.section {
    display: flex;
    justify-content: center;
    background-color: #FF9E02;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin: 5px 5px;
}

.fa-brands {
    transition: 0.3s ease all;
    cursor: pointer;
}

.fa-brands:hover {
    transform: translateY(3px);
    color: #ededed;

}